In [1]:
#sets are a group of unique elements of similar type
#syntax: set_name={element1,element2,....}
#set can also be used by calling it as a function with"set()"

In [2]:
#representing a set:
set1={1,5,7,3}#this is a set of random numbers
#the difference b/w set and a list is that set does not contain repeating values

In [3]:
#we take the above set and a list ls
ls=[1,2,2,3,5,8]
#we can assign a new value to an element in list with its index number
ls[0]=0

In [4]:
ls

[0, 2, 2, 3, 5, 8]

In [5]:
#but it cannot be done in case of set, which means sets are inmutable or t does not support item assignment as shown in the error below

set1[0]=0

TypeError: 'set' object does not support item assignment

In [6]:
#converting list to a set:
#we use the list ls
ls

[0, 2, 2, 3, 5, 8]

In [7]:
#values of 'ls' list are as above
#we convert it into a set by using the set function:
set(ls)

{0, 2, 3, 5, 8}

In [ ]:
#now if we take a look at it,it is a set, because the repeatng value i.e '2' now appears only one time

In [9]:
#still the list 'ls' is same, see it by displaying 'ls'
ls

[0, 2, 2, 3, 5, 8]

In [10]:
#to hold the values as a set, following operation should be done:
ls=set(ls)

In [11]:
#now if we print 'ls':
ls

{0, 2, 3, 5, 8}

In [ ]:
#it is a set!!!